<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About US</title>
    <link rel="stylesheet" href="/aboutus.css">
</head>
<body>
    <header id="head">
        <!-- searchbar -->
        <div class="toggle">
            <div class="log">
                <img src="/Logo.png" alt="">
            </div>
            <div class="search-box">
                <ion-icon name="search-outline"></ion-icon>
                <input type="text" placeholder="Search for products">
            </div>
            <div>
                <ul>
                    <li><ion-icon name="person-outline"></ion-icon><a href="/Login">sign in / Register</a></li>
                    <li><ion-icon name="heart-outline"></ion-icon><a href="#">Wishlist</a></li>
                    <li><ion-icon name="cart-outline"></ion-icon><a href="#">Cart</a></li>
                </ul>
            </div>
        </div>
        <!-- end of searchbar -->

        <!-- Navbar -->
        <div class="navbar">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/categories">Categories <ion-icon name="chevron-down-outline"></ion-icon></a></li>
                <li><a href="/new">New Arrivals</a></li>
                <li><a href="/onsale">On Sale</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>

            <div class="chat">
                <p>Need help? <a href="#">Start Chatting</a></p>
            </div>
        </div>
        <!-- end of Navbar -->
    </header>
    <!-- main -->
    <div class="container">
        <div class="navigation">
            <ul class="main-list">
                <li> <a href="#" class="active" style="justify-content: space-between;padding-right:20px ;"><span style="display: flex;align-items: center;gap:10px ;"><img src="/Cate.png" alt=""> Categories</span><img src="/arrow-up.png" alt=""></a> 
                    <ul class="branch" style="padding-left:30px ;">
                        <li><a href="#">Medications</a></li>
                        <li><a href="#">Vitamins & Supplements</a></li>
                        <li><a href="#">Daily Essentials</a></li>
                        <li><a href="#">Mom & Baby</a></li>
                        <li><a href="#">Skin Care</a></li>
                        <li><a href="#">Hair Care</a></li>
                        <li><a href="#">Diet & Fitness</a></li>
                        <li><a href="#">First Aid Supplies</a></li>
                        <li><a href="#">Electrical</a></li>

                    </ul>
                </li>
                <li><a href="#"><img src="/maki_shop.png" alt=""> Shop by Brand</a></li>
                <li><a href="#"><img src="/profile.png" alt=""> Profile</a></li>
                <li><a href="add"><img src="/add_pro.png" alt=""> add Product</a></li>
                <li><a href="#"><img src="/orders.png" alt=""> Your Order</a></li>
            </ul>
        </div>
        <div class="main">
            <div class="info">
                <div>
                    <h1>Your Trusted Pharmacy Store</h1>
                    <p>Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet consectetur.</p>
                </div>
    
                <div>
                    <img src="/Banner1.png" alt="">
                </div>
            </div>
    
            <div class="interest">
                <div>
                    <img src="/truck.png" alt="">
                    <p>Order Over $600</p>
                </div>
                <div>
                    <img src="/credit-card.png" alt="">
                    <p>Order Over $600</p>
                </div>
                <div>
                    <img src="/gift.png" alt="">
                    <p>Order Over $600</p>
                </div>
                <div>
                    <img src="/users.png" alt="">
                    <p>Order Over $600</p>
                </div>
            </div>


            <div class="why">
                <div class="inf">
                    <h2>Why Us?</h2>
                    <h3>Our Commitment to Quality</h3>
                    <div>
                        <div>
                            <img src="/1.png" alt="">
                        </div>
                        <div class="im-inf">
                            <h3>Wide Product Range</h3>
                            <p>Libero diam auctor tristique hendrerit in eu vel id. Nec leo amet suscipit nulla.</p>
                        </div>
                    </div>

                    <div>
                        <div>
                            <img src="/2.png" alt="">
                        </div>
                        <div  class="im-inf">
                            <h3>Quality Assurance</h3>
                            <p>Libero diam auctor tristique hendrerit in eu vel id. Nec leo amet suscipit nulla.</p>
                        </div>
                    </div>

                    <div>
                        <div>
                            <img src="/3.png" alt="">
                        </div>
                        <div class="im-inf">
                            <h3>Share Your Unused Medicine</h3>
                            <p>Libero diam auctor tristique hendrerit in eu vel id. Nec leo amet suscipit nulla.</p>
                        </div>
                    </div>

                </div>
                <div class="img">
                    <img src="/Illustration & Title.png" alt="">

                </div>
            </div>

            <div class="customers">
                <div class="titl">
                    <h2>Our customers</h2>
                </div>
                <div class="customer">
                    <div class="item">
                        <img src="/Frame 10.png" alt="">
                        <h3>Sarah M. <img src="/Frame.png" alt=""></h3>
                        <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
                    </div>
    
                    <div class="item">
                        <img src="/Frame 10.png" alt="">
                        <h3>Alex K. <img src="/Frame.png" alt=""></h3>
                        <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
                    </div>
    
                    <div class="item">
                        <img src="/Frame 10.png" alt="">
                        <h3>James L. <img src="/Frame.png" alt=""></h3>
                        <p>"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”</p>
                    </div>

                </div>
                
            </div>

            
        </div>

    </div>

    <footer>
        <div class="foot-logo">
            <img src="/Logo.png" alt="">
            <a href="#head"><img src="/Icon (3).png" alt=""></a>
        </div>

        <div class="foot-navs">
            <div>
                <h3 style="font-size:20px ;font-weight:600 ;">Company</h3>
                <ul class="nav-links">
                    <li><a href="#">Abou Us</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Blog & News</a></li>
                </ul>
            </div>

            <div class="social">
                <h3>Follow Our Social Media</h3>
                <div>
                    <a href="#">instagram</a>
                    <a href="#">instagram</a>
                    <a href="#">instagram</a>
                </div>
                <div>
                    <a href="#">LinkedIn</a>
                    <a href="#">Twitter</a>
                    <a href="#">Tik Tok</a>
                </div>
            </div>

        </div>

        <div class="foot-logo">
            <h3>Copyright &copy 2024 Pharmacy Store</h3>
            <p><a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> </p>
        </div>
                
    </footer>
    
    <!-- end of main -->

    


    <script src="/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>