<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single-Product</title>
    <link rel="stylesheet" href="/single.css">
</head>
<body>
    <header id="head">
        <!-- searchbar -->
        <div class="toggle">
            <div class="log">
                <img src="/Logo.png" alt="">
            </div>
            <div class="search-box">
                <ion-icon name="search-outline"></ion-icon>
                <input type="text" placeholder="Search for products">
            </div>
            <div>
                <ul>
                    <li><ion-icon name="person-outline"></ion-icon><a href="/login">sign in / Register</a></li>
                    <li><ion-icon name="heart-outline"></ion-icon><a href="#">Wishlist</a></li>
                    <li><ion-icon name="cart-outline"></ion-icon><a href="#">Cart</a></li>
                </ul>
            </div>
        </div>
        <!-- end of searchbar -->

        <!-- Navbar -->
        <div class="navbar">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/categories">Categories</a></li>
                <li><a href="/new">New Arrivals</a></li>
                <li><a href="/onsale">On Sale</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>

            <div class="chat">
                <p>Need help? <a href="#">Start Chatting</a></p>
            </div>
        </div>
        <!-- end of Navbar -->
    </header>
    <!-- main -->
    <div class="container">
        <div class="main">
            <!-- product-details -->
            <div class="product">
                <div class="pro-imgs">
                    <div class="imgs">
                        <ul>
                            <li><a href="#"><img src="/image 10.png" alt=""></a></li>
                            <li><a href="#"><img src="/image 11.png" alt=""></a></li>
                            <li><a href="#"><img src="/image 12.png" alt=""></a></li>
                        </ul>

                    </div>
                    <div class="single-img">
                        <img src="/Image (1).png" alt="">
                    </div>
                </div>

                <div class="pro-info">
                    <div class="pro-name">
                    <h4>Hot Sale</h4>
                    <h2>Activated Charcoal Pills | 90 Capsules | Non-GMO & Gluten Free Supplement</h2>
                    <h3><a href="#">SUPPLEMENTS</a>|<img src="/Frame 10.png" alt="">|<p>4.9 (2130 reviews)</p></h3>
                    </div>

                    <div class="pro-price">
                        <h3><del>$18.00</del> $12.00</h3>
                        <p>Save $6.00</p>
                        <p>All prices include VTA.</p>
                    </div>

                    <div class="pro-about">
                        <h3>About this Product</h3>
                        <ul>
                            <li><p>TRADITIONAL ABSORBENT: Activated Charcoal is made from coconut shells</p></li>
                            <li><p>PREMIUM FORM: Coconut Activated Charcoal Capsules with 520 mg per serving</p></li>
                            <li><p>PURITY & POTENCY delivers high-quality ingredients tested for purity and potency</p></li>
                            <li><p>NATURALLY FREE OF: Gluten, Wheat, Yeast, Milk, Lactose, Artificial Flavor & Sweetener & NON-GMO</p></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="qty">
                <div class="qty-name">
                    <img src="/image 10.png" alt="">
                    <div>
                        <h2>Activated Charcoal Pills | 90 Capsules | Non-GMO & Gluten Free Supplement</h2>
                        <a href="#">SUPPLEMENTS</a>
                    </div>

                </div>

                <div class="number">
                    <h3>Qty:</h3>
                    <div>
                        <a href="#" class="reduce">-</a>
                        <h2>1</h2>
                        <a href="#" class="plus">+</a>
                    </div>

                    <div class="add">
                        <a href="#">Add to Cart</a>

                        <a href="#" class="Love"><ion-icon name="heart-outline"></ion-icon></a>
                    </div>

                </div>

            </div>
            <!-- end of product-details -->

            <div class="buy-with">
                <h3>Buy it with</h3>
                <div>
                    <div class="pluspros">
                        <div class="pluspro" style="display: flex;align-items: center;">
                            <div>
                                <img src="/Frame 3910.png" alt="">
                            <p>Activated Charcoal Pills | 90 Capsules | Non-GMO & Gluten Free Supplement</p>
                            </div>
                            <div>
                                <h2 style="margin-right:20px ;margin-bottom:40px ;">+</h2>
                            </div>
                        </div>
                        <div class="pluspro" style="display: flex;align-items: center;">
                            <div>
                                <img src="/Frame 3911.png" alt="">
                            <p>Dozova Coenzyme Q10 (Ubiquinol) -200mg (30 caps) For Supporting Heart-Health & Energy-Producti....</p>
                            </div>
                            <div>
                                <h2 style="margin-right:20px ;margin-bottom:40px ;">+</h2>
                            </div>
                        </div>
                        <div class="pluspro">
                            <img src="/Frame 3912.png" alt="">
                            <p>Dozova Ashwagandha,100% Pure Premium Grade KSM-66 Ashwagandha Root Extract....</p>
                        </div>
                    </div>

                    <div class="price">
                        <h2>Total Price </h2>
                        <h3><del>$46.00</del> $40.00</h3>
                        <a href="#">Add to cart</a>
                    </div>

                </div>
            </div>

            <div class="best">
                <div class="titl">
                    <h2>Products related to this item</h2>
                </div>
    
                <div class="prods">
                    <div>
                        <img src="/image 15.png" alt="">
                        <h3>Masvitam Phosphorus</h3>
                        <p><del>18.00</del> <span>$12.00</span></p>
                    </div>
    
                    <div>
                        <img src="/image 16.png" alt="">
                        <h3>Activated Charcoal</h3>
                        <p><del>18.00</del> <span>$12.00</span></p>
                    </div>
    
                    <div>
                        <img src="/image 17.png" alt="">
                        <h3>Panthenol Cream</h3>
                        <p><del>18.00</del> <span>$12.00</span></p>
                    </div>     

                    <div>
                        <img src="/image 15.png" alt="">
                        <h3>Masvitam Phosphorus</h3>
                        <p><del>18.00</del> <span>$12.00</span></p>
                    </div>
                </div>
    
            </div>

            
        </div>

    </div>

    <footer>
        <div class="foot-logo">
            <img src="/Logo.png" alt="">
            <a href="#head"><img src="/Icon (3).png" alt=""></a>
        </div>

        <div class="foot-navs">
            <div>
                <h3 style="font-size:20px ;font-weight:600 ;">Company</h3>
                <ul class="nav-links">
                    <li><a href="#">Abou Us</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Blog & News</a></li>
                </ul>
            </div>

            <div class="social">
                <h3>Follow Our Social Media</h3>
                <div>
                    <a href="#">instagram</a>
                    <a href="#">instagram</a>
                    <a href="#">instagram</a>
                </div>
                <div>
                    <a href="#">LinkedIn</a>
                    <a href="#">Twitter</a>
                    <a href="#">Tik Tok</a>
                </div>
            </div>

        </div>

        <div class="foot-logo">
            <h3>Copyright &copy 2024 Pharmacy Store</h3>
            <p><a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> </p>
        </div>
                
    </footer>
    
    <!-- end of main -->





    <script src="/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>