*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --blue:rgba(45, 115, 220, 1);
}
body{
    color:var(--blue)
}
header .toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.search-box{
    position: relative;
}
.toggle input{
    width:470px ;
    height:48px ;
    border-radius:10px ;
    background-color:rgba(243, 249, 251, 1);
    border:solid 1px rgba(243, 240, 251, 1);
    outline: none;
    font-size:15px ;
    font-weight:500 ;
    padding:10px 40px;
}
.toggle .search-box ion-icon{
    font-size:18px ;
    position: absolute;
    left:12px ;
    top:12px ;
}
.toggle ul{
    display: flex;
    list-style: none;
}
.toggle ul li{
    display: flex;
    margin-right:30px ;
    align-items: center;
}
.toggle ul li ion-icon{
    font-size:18px ;
    margin-right:10px ;
}
.toggle ul li a{
    text-decoration: none;
    color: black;
}
/* navbar */
.navbar{
    width:100% ;
    height:46px ;
    display: flex;
    background:rgba(45, 115, 220, 1);
    color:white ;
    justify-content: space-around;
    align-items: center;
}
.navbar ul{
    display:flex ;
    list-style: none;
    align-items: center;
}
.navbar ul li{
    display: flex;   
    align-items: center;
    margin-left:50px ;

}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding:10px ;
    display:flex;
    align-items: center;
}
.navbar ul li a:hover{
    background-color:white;
    color: var(--blue);
}

.navbar p a{
    color: black;
}
.container{
    position: relative;
    width:100% ;
    display: flex;
}
.navigation{
    width: 280px;
    min-height:100% ;
    transition:0.5s;
    padding-top:20px ;
    padding-left:30px ;
}
.navigation .main-list{
    list-style: none;
}
.navigation .main-list>li{
    margin-top:30px ;
}
.navigation .main-list li a{
    display: flex;
    gap:10px ;
    align-items: center;
    text-decoration: none;
    color:var(--blue);
    padding:5px ;
}
.navigation .main-list .branch{
    list-style: none;
    display: none;
    transition: .5s ease;
}
.navigation .main-list .branch li{
    margin-top:30px ;
}
.navigation .main-list .active{
    background-color:#DFECFF ;
}
.main{
    width:calc(100% - 300px) ;
    min-height:100vh ;
    background: var(--white);
    transition: 0.5s;
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 40%;
    gap:20px ;
    align-items: center;
}
form {
    width:100% ;
    height: auto;
    justify-content: center;
    padding:10px ;
}
form div input{
    display: flex;
    width:100% ;
    padding:10px 20px ;
    margin-left:30px ;
    margin-top:20px ;
    border: none;
    border-radius:10px ;
    border-bottom:solid 1px #2D73DC;
    box-shadow:0px 3px 7px #2D73DC ;
    outline: none;
    font-size:17px ;
}
form div button{
    display:block;
    width:300px ;
    align-items: center;
    margin-left:170px ;
    padding:12px 20px ;
    margin-top:20px ;
    border: none;
    background-color: #2D73DC;
    color: white;
    border-radius:10px ;   
}
form div button:hover{
    background-color: white;
    color: #2D73DC;
    border: solid 1px #2D73DC;
}
form .uploadimg{
    border-bottom:solid 1px #2D73DC;
    box-shadow:0px 3px 7px #2D73DC ;
    margin-top:10px ;
    width:100% ;
    height:30vh ;
    margin-left:30px ;
    border-radius:10px ;
    display: flex;
    justify-content: center;
    text-align: center;
}
form div .img {
    border: none;
    display: none;
    text-align: center;

}
form .uploadimg label{
    display: flex;
    background-color: #2D73DC;
    padding:10px 20px  ;
    color: white;
    margin-top:80px ;
    width:150px ;
    height:40px ;
    text-align: center;
}

footer{
    margin-top:20px;
    padding-top:30px ;
    width:100% ;
    height:auto ;
    background-color: #2D73DC;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom:20px ;

}

footer .foot-logo{
    display: flex;
    width: 70%;
    height: auto;
    justify-content: space-between;
    border-bottom:solid 1px #3c80ffc7 ;
    margin: auto;
    padding-bottom:20px ;
    align-items: center;
}
footer .foot-logo{
    color: white;
}
footer .foot-logo h3{
    font-size:15px ;
    margin-top:20px ;
}
footer .foot-logo p{
    margin-top:20px ;
}
footer .foot-logo p a{
    text-decoration: none;
    color: white;
}
footer .foot-logo>img{
    width:70px ;

}
footer .foot-navs{
    display: flex;
    width: 70%;
    height: auto;
    justify-content: space-between;
    border-bottom:solid 1px #3c80ffc7 ;
    margin: auto;
    margin-top: 20px;
    
    padding-bottom:20px ;
}
footer .foot-navs h3{
    color: #F3F9FB;
}
footer .foot-navs .social h3{
    text-align:right ;
}
footer .foot-navs .social div{
    text-align: right;
    margin-top:14px ;
}
footer .foot-navs .social div a{
    color: white;
    text-decoration: none;
    background-color:#202020 ;
    padding:5px 20px ;
    border-radius:20px ;
}
footer .foot-navs .social div a:hover{
    background-color: white;
    color: #2D73DC;
}
footer .nav-links{
    list-style: none;
}
footer .nav-links li{
    margin-top:10px ;
}
footer .nav-links li a{
    text-decoration: none;
    color:white;
}
footer .nav-links li a:hover{
    color: black;
    text-decoration: underline;
}
.toggle .log img{
    width:65px ;
}
footer .foot-logo>img{
    width:70px ;

}